snippet labval "Laboratorio - valor normal" b
  {
    id: '${1:id}',
    templateField: '${2:templateField}',
    label: '${3:Label (e.g., Eritrocitos (RBC))}',
    min: '${4:min}', 
    max: '${5:max}', 
    unit: '${6:unit}'
  },
