snippet formcolumn "LAB2PDF - form column" b
  <div class="form-column">
    ${1}
  </div>

snippet forminput "LAB2PDF - form input" b
  <label class="label" for="${1:id}">${2:label}</label>
  <input class="input-number" type="number" step="any" id="$1" required />
